<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<style>
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
    //background: #222e3c;
}
</style>
<body>
<div class="container-fluid">
    <div class="wrapper">
		<nav class="navbar navbar-expand navbar-light navbar-bg"> 
    <!--<span class="sidebar-toggle d-flex"><i class="hamburger align-self-center"></i></span>-->
		<div class="navbar-collapse collapse">
			<ul class="navbar-nav navbar-align">
				<li class="nav-item dropdown">
					<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
						<i class="align-middle fas fa-equals mr-1" data-feather="settings"></i>
					</a>
					<a class="nav-link dropdown-toggle d-none d-sm-inline-block headertext" href="#" data-toggle="dropdown">
						<span class="hello">Welcome to your portal!</span><span class="name ng-binding" ng-bind="customername"></span>
					</a>
				</li>
			</ul>
		</div>
		</nav>
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="dashboardlogo">
				<div class="name"></div>
				<a class="sidebar-brand" href="index.html">
					<img ng-src="https://utbr8.s3.ap-southeast-2.amazonaws.com/Energyon/EON-Logo-RGB.png" alt="Company Logo" src="https://utbr8.s3.ap-southeast-2.amazonaws.com/Energyon/EON-Logo-RGB.png">                
				</a>
			</div>
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Customers
                        </a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="#">
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Apply Loan
                        </a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="#">
                            Reports
                        </a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="#">
                            FAQ
                        </a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="#">
                            Log Out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h1 class="h2">LALALA</h1>
            <!--div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                    </tr>
                    <!-- Repeat rows as necessary -->
                    </tbody>
                </table>
            </div-->
			
			<div class="container mt-5">
				<h2>Create Customer</h2>

				<form action="/submit" method="post">
					<div class="form-group">
						<label for="fname">First Name:</label>
						<input type="text" class="form-control" id="fname" name="fname">
					</div>
					<div class="form-group">
						<label for="lname">Last Name:</label>
						<input type="text" class="form-control" id="lname" name="lname">
					</div>
					<div class="form-group">
						<label for="dob">Date of Birth:</label>
						<input type="date" class="form-control" id="dob" name="dob">
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" class="form-control" id="email" name="email">
					</div>
					<div class="form-group">
						<label for="phone">Phone number:</label>
						<input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
						<small class="form-text text-muted">Format: 123-456-7890</small>
					</div>
					<input type="submit" class="btn btn-primary" value="Submit">
				</form>
			</div>
        </main>
    </div>
</div>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>